.timeTable {
    background-color: rgb(106, 225, 247);;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    width: 40%;
    margin: auto;
    min-width: 250px;
}

.btn-toolbar {
    padding: 10px;
    margin: auto;
    justify-content: center
}

.innerText {
    color: rgb(243, 243, 243);
    font-size: 30px;
    text-shadow: 1px 1px 2px #3d3d3d;    
    text-align: center;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;

}

#estimateButton {
    background-color: rgb(1, 145, 140);
    border-color: hsla(0, 69%, 10%, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#estimateButton:hover {
    background-color: rgb(0, 255, 242);
}